*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --fondoprincipal: #e7e7e7;
    --fondoformulario: #d7d7d7;
    --colorinput: #f7f7f7;
    --Tpequeno: 1.7rem;
    --Tgrande:2.2rem;
    --colorboton:#004aad;
}
.main{
    width: 100%;
    height: 100vh;
    /*centrar contendio vewrtical y horizontal*/
    display: grid;
    place-items: center;
    background-color: var(--fondoprincipal);

}
.contenedor-formulario{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: var(--fondoformulario);
 
}
.formulario--logo{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    justify-self: center;
    margin-bottom: 20px;
}
.formulario--titulo{
   
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    font-size: var(--Tgrande);
   
   
}
.formulario--subtitulo{
    color: black;
    font-weight: 600;
   font-size: var(--Tpequeno );
   margin-bottom: 10px;
   margin-left:15px;
    
}
.formulario--formulario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
   
}
.label{
    color: black;
    font-size: 1.45rem ;
   font-weight: 400;
    margin-bottom: 7px;
}

.input{
    margin-bottom: 5px; 
    font-size: 1.2rem;
    height: 38px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background-color:  var(--colorinput);
   
}
.formulario--boton{
     width: 100%;
     font-size: var(--Tpequeno);
     letter-spacing: 0.05rem;
     font-weight:bold;
    border: none;
    border-radius: 8px;
    color: white;
     background-color: var(--colorboton);
     height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}

