@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --fondoprincipal: #e7e7e7;
    --fondoformulario: #d7d7d7;
    --colorinput: #f7f7f7;
    --Tpequeno: 1.7rem;
    --Tgrande:2.2rem;
    --colorboton:#004aad;
}
.header{
  
 
 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px ;
    background-color: var(--fondoprincipal);
    border-bottom: 2px solid var(--fondoformulario);
    padding: 0 15px;

}
.nav-menu img{
    width: 25px;
    height: 25px;

}
.nav-logo p {
    font-size:  var(--Tgrande);
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive ;
}
.nav-agregar img{
    width: 30px;
    height: 30px;
}

/*//////////////////////////////*/
.main{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
  
    background-color: var(--fondoprincipal);
   
    /*centrar contendio vewrtical y horizontal*/
   
    
}

.main-buscar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: var(--fondoformulario);
    border-radius: 8px;
}
.main-buscar a .buscar{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.main-buscar input{
    width: 250px;
    height: 25px;
    border: none;
    padding-left: 5px;
    background-color: var(--fondoformulario);
    outline: none;
}



.contenedor-cartas{
    margin-top: 20px;
    
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 160px); */
    grid-template-columns: repeat(2,1fr);
}
.carta{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    
    width: 150px;
    background-color:var(--fondoformulario);
}
.carta--izquierda{
    border-top-left-radius: 5px;
}
.carta--derecha{
    border-top-right-radius: 5px;
}
.carta .carta-img{
    width: 135px;
    border-radius: 5px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 10px;
    
}
.carta-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height:70px;
 
    margin: 0 auto;
    margin-top: 10px;
    background-color:var(--fondoprincipal);
}
.carta--descripcion{
   
    width: 90px;
    height: 60px;
    align-items: center;
    margin-left: 3px;
    /* background-color: greenyellow; */
    padding-top: 10px;
    padding-left: 5px;
}

.descripcion--precio{
    font-size:1.2rem;
    font-weight: bold;
}
.descripcion--titulo{
font-size: 1.1rem;
color: black;
font-weight: 400;
width: 90px;
/* background-color: #004aad; */

}
.carta--icono {
    /* background-color: red; */
    margin-right: 5px;
}
.carta--icono img
{
    width: 27px;
    height: 27px;
}  




