*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --fondoprincipal: #e7e7e7;
    --fondoformulario: #d7d7d7;
    --colorinput: #f7f7f7;
    --Tpequeno: 1.7rem;
    --Tgrande:2.2rem;
    --colorboton:#004aad;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --fondoprincipal: #e7e7e7;
    --fondoformulario: #d7d7d7;
    --colorinput: #f7f7f7;
    --Tpequeno: 1.4rem;
    --Tgrande:2.2rem;
    --colorboton:#004aad;
}
.main{
    width: 100%;
    height: 100vh;
    /*centrar contendio vewrtical y horizontal*/
    display: grid;
    place-items: center;
    background-color: var(--fondoprincipal);

}
.contenedor-formulario{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: var(--fondoformulario);
 
}
.formulario--logo{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    justify-self: center;
    margin-bottom: 20px;
}
.formulario--titulo{
   
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    font-size: var(--Tgrande);
   
   
}
.formulario--subtitulo{
    color: black;
   /* background-color: antiquewhite; */
    font-weight: 500;
   font-size: var(--Tpequeno );
   margin-bottom: 20px;
   /* padding:0 5px 0 5px; */
    text-align: center;
}
.formulario--formulario{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
   
}
.label{
    color: black;
    font-size: 1.45rem ;
   font-weight: 400;
    margin-bottom: 7px;
}

.input{
    margin-bottom: 5px; 
    font-size: 1.2rem;
    height: 38px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background-color:  var(--colorinput);
   
}
.captcha{
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
  border: 0.5px solid gray;
  margin-top: 10px;
    width: 100%;
    height:80px ;
}
.captcha-izquierdo{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 120px;
 
   height: 30px;
    /* background-color: yellow; */
   padding-top: 10px;
    margin-right: 15px;
    margin-left: 10px;
}
.captcha-izquierdo .checkbox{
   
    transform: scale(1.3);
    margin-right: 4px;
    
}
.captcha-izquierdo p{

  font-size: 1.2rem;
  
 
 
}
.captcha-derecho{
   
   padding-top: 5px;
}
.captcha-derecho img {
    width: 50px;
    height: 50px;
    margin-left: 55px;
}

.captcha-derecho p{
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 6px;
}
.formulario--boton{
     width: 100%;
     font-size: 1.5rem;
     letter-spacing: 0.05rem;
     font-weight:bold;
    border: none;
    border-radius: 8px;
    color: white;
     background-color: var(--colorboton);
     height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}
