*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}
body{
    background-color: #F2F3F4;
}

header{
   width: 100%;
   border-bottom: 1px solid gray;
 
}

/* navbar */
.nav{
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    background-color: #F2F3F4;
}
.nav-menu{
    width: 25px;
    height: 25px;
 
}
.nav-texto{
    font-size: 1.8rem;
    margin-top: 4px;
}
.nav-usuario{
    width: 27px;
    height: 27px
}

/* seccion de menu inicio */

.inicio{
    margin-top: 10px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
   
}


.inicio--contenido{
    display:flex;
    flex-direction: column;
   /* background-color: skyblue; */
    padding: 15px;
    
}
.inicio--contenido h2{
    color: black;
    font-weight: bold;
    font-size: 2rem;
}
.inicio--contenido p{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6rem;
    margin-top: 20px;
}
.inicio--contenido button{
    margin: 0 auto;
    border-radius: 5px;
    background-color: gray;
    margin-top: 20px;
    padding: 3px;
    font-weight: 500;
    font-size: 1.5rem;
    width: 130px;
    border: none
}

.inicio--imagen{
    /* background-color: hotpink; */
    display: flex;
    place-content: center;
    align-items: center;
    padding-right: 2px;
   
}
.inicio--imagen img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
   