.contenedor{
    background-color: gray;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.contenedor:hover  .caja1{
    transform: scale(1.1);
    /* transform: rotate(20deg); */
    /* transform: translate(20px, 30px); */
  /* transform-origin: top bottom; */
}
.caja{
    width: 100px ;
    height: 100px;
}
.caja1{
    background-color: red;
    transition: transform 900ms;
}
.caja2{
    background-color: rgb(255, 0, 85);
    transition: transform 800ms;
}
.caja3{
    background-color: rgb(255, 0, 179);
    transition: transform 700ms;
}