/* .main--logo-titulo{
  
     
    background-color: yellow
 } */
 .nombre-profesion{
     width: 30px;
     padding: 5px;
     
     margin-left: 280px;
 }
 .redes{
    width: 30px;
   box-shadow: 0 2px 4px yellow;
    background-color: red;
    margin-left: 280px;
 }
 .redes-items{
     display: flex;
     justify-content: space-around;
     list-style: none;
     margin-top: 50px;
 }