@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:  62.5%;
    

}
:root{
    --fondo1 : #454545;
    --fondo2: #eeeeee; ;
    --letrablanca:#eff3f8;
    --letraazul1: #33b1ff;
    --verde: #96c73f;
}
.header{
    width: 100%;
    height: 80px;

    min-width: 320px;
    background-color: var(--fondo1);
    border-bottom: 0.1px solid red;
   
}
.nav
{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}
/*IZQUIERDA*/
.nav--izquierdo{
    display: flex;
    justify-content: center;
  
    width: 130px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
    font-family: 'Pacifico', cursive ;
 
   
}
.nav--izquierdo a{
    display: flex;
    transform: scale(1,1.5);
    text-decoration: none;
    font-size: 2.5rem;
   font-weight: 500;
    color: var(--letrablanca);
    
}
/*DERECHA*/
.nav--derecho{
     width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-right: 8px; 
  
    padding-left: 5px;
    padding-right:5px ;
    
}
.derecho-items{
   
    display: flex;
    justify-content: space-between;
    height: 30px;
   margin-top: 5px;
  
    list-style: none;
    
  
}
.derecho-items .item-acerca{
    margin-top: 15px;
}
.derecho-items .item-contacto{
    margin-top: 15px;
}
.derecho-items .item-menu{
    background-image: url(/assets/iconos/icons8-menú.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-top: 6px;
  
   
}

.derecho-items li a {
    color: var(--letrablanca);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  
    
}
/*MAIN*/
.main{
    width: 100%;
    height: auto;
    background-color: var(--fondo2);
    padding-bottom: 10px;
}
.main--logo{  
   width: 100%;
   height: 190px;
   
    
}
.main--logo-imagen{
    
}
.main--logo-imagen p{
    width: 100%;
    position: relative;
    height: 340px;
    opacity:1;
    background-image: url(/assets/imagenes/fondo9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid red;
  
 
}
.main--logo-titulo{
   display: inline-block;
    
    width: 250px;
    height: 220px;
    position: absolute;
    margin-top: -220px;
    margin-left:50px;
 
}


.nombre-profesion{
    width:250px;
    /*aqui */
   
    height: 70px;
    margin-top: 40px;
    
}
.nombre-profesion .nombre{
    color:var(--letrablanca);
    font-family: 'Pacifico', cursive ; 
    font-size: 1.5rem;
    letter-spacing: 0.2;
    margin-left: 20px;

}
.nombre-profesion .profesion{
    color:var(--letrablanca);
    font-family: 'Pacifico', cursive ; 
    font-size: 1.3rem;
    margin-left:60px;
}
.redes{
   position: absolute;
    width: 170px;
    height: 40px;
    margin-top:100px;
    margin-left: 35px;
   /* background-color: yellow; */
}
.redes-items{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 5px;
}
.redes-items li{
    background-color: var(--fondo1);
}
.redes-items a {
    text-decoration: none;
}

.redes-items .facebook { 
    
  background-image: url(/assets/iconos/facebook6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
    
}
.redes-items .twitter { 
   
    background-image: url(/assets/iconos/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  }
   

  .redes-items .instagram { 
    background-image: url(/assets/iconos/instagram15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  /*informacion*/

  .main--informacion{
    width: 95%;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: var(--fondo1);
    border:0.1rem solid red ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 180px;
    border-radius: 8px;

      
     
  }
  .informacion-sobre{
   /* background-color: #BDC3C7;*/
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: 0.01px solid var(--letrablanca);
    width: 95%;
    height: auto;
   
  }
  .informacion-sobre .titulo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--letrablanca);
    margin-left: 5px;
  }
  .informacion-sobre .descripcion{
    font-size: 1.3rem;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 1.8rem;
    color: var(--letrablanca);

  }

  /*informacion comercial*/

  .informacion-comercial{
    display: block;
   /* background-color: yellowgreen;*/
    padding: 10px;
    margin: 0 auto;
    border-radius:10px ;
    border: 0.01px solid var(--letrablanca);
    width: 95%;
    height: auto;
    margin-top: 10px;

}
.informacion-comercial .titulo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--letrablanca);
    margin-left: 5px;
}
.informacion-comercial .tabla{
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
   
    color: var(--letrablanca);
    border-radius: 5px;
}
.informacion-comercial .tabla tr{
    
}
.informacion-comercial .tabla td{
   
    width: 50%;
    height: 25px;
    font-size: 1rem;
    padding-left: 3px;
    
}
/*superior*/
.informacion-comercial .tabla .colsupiz{
   border-top: 0.5px solid white;
   border-left:0.5px solid white;
   border-bottom: 0.5px solid white;
   font-weight: 600;
  /* border-right: 0.5px solid white;*/
  
}
.informacion-comercial .tabla .colsupder{
    border-top: 0.5px solid white;
   /* border-left:0.5px solid white;*/
    border-bottom: 0.5px solid white;
    border-right: 0.5px solid white;
 }


/*https://studylib.es/doc/5986290/soluciones-inform%C3%A1ticas-carta-de-presentacion*/
 

.informacion-comercial .tabla .fil{
     border-left: 0.5px solid white;
    /* border-top: 0.5px solid white;*/
     border-bottom: 0.5px solid white;
     font-weight: 600;
 }
 .informacion-comercial .tabla .col{
   border-bottom: 0.5px solid white ;
   border-right: 0.5px solid white;
 }


 /*inferior*/
 
 .informacion-comercial .tabla .colinfiz{
   /* border-top: 0.5px solid white; */
    border-left:0.5px solid white;
    border-bottom: 0.5px solid white;
   /* border-right: 0.5px solid white;*/
   font-weight: 600;

 }
 .informacion-comercial .tabla .colinfder{
   /* border-top: 0.5px solid white;*/
    /* border-left:0.5px solid white;*/
     border-bottom: 0.5px solid white;
     border-right: 0.5px solid white;
 }

 /*SLIDER DE LOS PRODUCTOS Y SERVICIOS*/
 .main--productos{
    width: 95%;
    height: auto;
    position: relative;
    margin: 0 auto;
    border-radius: 8px;
     background-color:  var(--fondo1);
     margin-top: 10px;
     padding-top: 20px;
     padding-bottom: 10px;
     border:0.1rem solid red ;
 }

 .main--productos .productos-titulo{
  /*background-color: #33b1ff;*/
     width: 310px;
     margin:  0 auto;
     padding: 5px;
     text-align: center;
    
 }
 .productos-titulo h3{
     font-size: 2rem;
     color: var(--letrablanca);
     margin-bottom: 20px;
 }
 .productos-titulo p{
    font-size: 1.3rem;
    color: var(--letrablanca);
}
 /*****************SLIDER**************/
 .main--productos-slider{
    display: flex;
    height: 330px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right:40px ;
   
   background-color: var(--fondo1) ;
   
    /*lineas de coidigo para el scroll horizontal*/
    overflow-x: scroll;
    overscroll-behavior-x: cover;
    scroll-snap-type: x proximity;
  
   
 }
 .productos-article{
    position: relative;
    scroll-snap-align: center;
    width: 250px;
    height: 280px;
  
    margin-top: 30px;
    
    margin-left: 30px;
    background-color: var(--fondo2) ;
   /* box-shadow: 0 1px 2px red;*/
    border-radius: 15px;
    border: 0.5rem double var(--fondo1);
    
 }
 .productos-article .article-titulo{
     position: absolute;
     background-color: rgb(83, 75, 75);
     width: 120px;
     height: 27px;
     margin: 0 auto;
     margin-top: -15px;
     margin-left: 60px;
     border-radius: 7px;
   
     display: flex;
     justify-content: center;
     align-items: center;

 }
 .article-titulo p{
    color: var(--letrablanca);
    font-size: 1.3rem;
 }
 .article-informacion{
     width: 220px;
     height: 240px;
     display: block;
    
     background-color:var(--fondo1);
    border-radius: 15px;
     margin-top: 25px;
     margin-left: 10px;
     margin-right: 10px;
    padding: 10px;
     
     
 }
 .article-informacion .article-leyenda{
     display: flex;
     justify-content: center;
     width: 100%;
     margin-top: 5px;
     margin-left: -15px;
     font-size: 1.5rem;
     color: var(--letrablanca);
    
 }
 .article-informacion .imagen{
    background-image: url(/assets/imagenes/redes1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 150px;
    height: 80px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
 }
 .article-informacion .imagen-seguridad{
     background-image: url(/assets/imagenes/camaras3.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 150px;
     height: 80px;
     border-radius: 10px;
     margin: 0 auto;
     margin-top: 15px;
     margin-bottom: 10px;
 }
 .article-informacion .imagen-accesorios{
    background-image: url(/assets/imagenes/accesorios2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
 }
 .lista{
     margin-bottom: 10px;
 }
 .lista li{
     list-style: none;
     line-height: 1.5rem;
     margin-left: 25px;
     
 }
 .lista li a{
     text-decoration: none;
     color: var(--letrablanca);
 }


 .article-informacion button{
     display: flex;
     justify-content: center;
     width: 80px;
     margin: 0 auto;
     margin-left: 25px;
        color: var(--letrablanca);
        font-size: 1.2rem;
    background-color: var(--fondo1);
     border-radius: 5px;
     border: 0.01rem solid var(--letrablanca);
     padding:3px

 }

 /*FOOTER*/
 .footer{
     display: flex;
     justify-content: space-between;
     background-color: aqua;
     width: 100%;
    background-color: var(--fondo1);
     height: 150px;
     padding-bottom: 20px;
     border-top: 0.1rem solid red;
 }
 
 .footer--perfil  {
     background-image: url(/assets/imagenes/perfil3.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 82px;
    height: 82px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 50px;
    
}
.footer--datos{
   
    width: 190px;
    height: 50px;
    margin-top: 45px;
    margin-right: 10px;
   
 /*background-color: #96c73f;*/
}
.footer--datos h3{
    font-size: 1.3rem;
    color: var(--letrablanca);
   margin-left: 15px;
   margin-top: 5px;
   margin-bottom: 5px;
}
.footer--datos p{
    font-size: 1.0rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--letrablanca);
   margin-left: 15px;
   display: flex;
   flex-direction: column;
}
/*
 .footer--redes{
    
     width: 100px;
    height: auto;
     background-color: red;
     margin-right: 10px;
     margin-top: 0px;
   
 }

 .footer--redes .redes-items{
    display: block;
 
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 20px;
 }
 .footer--redes .redes-items li {
     margin-bottom: 10px;
   
 }
 */

 




