*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:"" Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif; 
}
:root{
    --fondo:#fff159;

    --fondo2 : #ebebeb;
    --letraverde: #00a650;
    --letrazul :#3495fb;
    --letragris: #c4a6a6;
}
.header{
    width: 100%;
   
    height: 60px;
}
.nav{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(2, 1fr);
   
}
.nav--superior{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo);

}
.nav--superior a{
    text-decoration: none;
}
.nav--superior .logo{
    background-image: url("/imagenes/mercado2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 30px;
    margin-left: 35px;
}
.nav--input{
    display: flex;
    width: 250px;
    background-color: white;
    margin-left: -255px;
 

}
.nav--input input{
    width:230px;
    height: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-right: 0.1px solid rgb(207, 195, 195);
}
.nav--input a{
    background-image: url("/imagenes/busqueda.png");
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 10px;
    height: 10px;
}
.iva{
    background-image: url("/imagenes/iva.jpg");
    
}
   
    
  



/*nav inferior************************/
/*.nav--inferior{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
   
    background-color: var(--fondo2);
}*/

