*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:"" Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif; 
}
:root{
    --fondo:#fff159;

    --fondo2 : #ebebeb;
    --fondo3: #fff;
    --letraverde: #00a650;
    --letrazul :#3495fb;
    --letragris: #c4a6a6;
}
.header{
    width: 100%;
  
    height: auto;
}
.nav{
    display: grid;
    width: 100%;
    padding-bottom: 5px;
   
    background-color: #fff159;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
   
}
/*LOGO----------------------------*/
.nav--logo{
    display: flex;
    /*background-color: #00a650;*/

    width: 145px;
    height: auto;
}
.nav--logo .logo{
    background-image: url("/imagenes/mercado2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 80px;
    height: auto;
    margin-left: 40px;
    margin-top: 5px;

  
}
/*INPUT----------------------------*/
.nav--input{
    display: flex;
    width: 290px;
    background-color: white;
    margin-right: 162px;
    margin-top: 5px;
  
}
.nav--input input{
    font-size: 0.8rem;
    width:270px;
    height: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-right: 0.1px solid rgb(207, 195, 195);
}
.nav--input a{
    background-image: url("/imagenes/busqueda.png");
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 9px;
    height: 10px;
}

/*IVA--------------------*/
.nav--iva{
    display: flex;
    justify-content: center;
  /*  background-color: red;*/
    margin-right: 20px;
    margin-left: -135px;
}
.iva{
    background-image: url("/imagenes/iva.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 120px;
   height: 20px;
   margin-right: 30px;
   margin-top: 5px;
}

/*section de abajo*/

/*ubicacion*****************************/
.ubicacion{
    display: flex;
    justify-content: start;
   /* background-color: rgb(63, 165, 42); */
    width: 70px;
    height: auto;
    margin-top: 2px;
    margin-left: 40px;
}
.ubicacion .ubicacion--link{
    text-decoration: none;
    color: #515A5A ;
    font-size: 0.8rem;
    margin-left: 5px;
    
}
.ubicacion .ubicacion--link span{
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 100;
    color: #909497;
    margin-left: 5px;
    
}
.ubicacion .ubicacion--link img {
  margin-top: 3px;
    width: 10px;
    height: 10px;

}

/*MENU CENTRAL *********************/

.menu--centro{  
 /*   background-color: rgb(212, 211, 219) ;  */
    width: 290px;
    height: auto;
    
}
.menu--centro ul{
    display: flex; 
  
    list-style: none;
}
.menu--centro ul li{
   margin-top: 10px;
}
.menu--centro ul a {
    margin: 5px;
    color: #797D7F ;
    font-size:0.7rem ;
   text-decoration: none;
    
}


/*MENU  DERECHO*/
.menu--derecho{
 /*   background-color: rgb(42, 165, 73); */
    width: 185px;
    height: auto;
    margin-left: -120px;
    
}
.menu--derecho ul{
    display: flex; 
   
    list-style: none;
}
.menu--derecho ul li{
    margin-top: 10px;
   
 }
 .menu--derecho ul a {
    margin: 7.5px;
    color: #515A5A ;
    font-size:0.7rem ;
   text-decoration: none;
    
}
.item--carrito{
   padding-top: 2px;
   margin-left: 7px;
    width: 5px;
    height: 5px;
}
.item--carrito img{
    width: 10px;
    height: 10px;
} 

/*******MAIN PRINCIPAL******/

.main{
    width: 100%;

    height: auto;
    background-color:var(--fondo2);
}
/*seccion de presentacion imagenes*/
.presentacion {
    width: 100%;
    height: 130px;
}
.presentacion {
    background-image: url("/imagenes/presentacion.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 165spx;
}
/*seccion de medios de pago*/
.pagos{
  
    display: grid;
     grid-template-columns: repeat(5, 1fr );
    margin: 0 auto;
    margin-top: 20px;
    background-color:rgb(99, 59, 8);
    width: 600px;

}
.pagos--cuotas{
    width: 130px;
    background-color: aqua;
    grid-column-start:1 ;
    grid-column-end:1 ;
}
.pagos--transferencia{
    width: 200px;
    background-color: rgb(225, 233, 236);
    grid-column-start:2 ;
    grid-column-end:3;
}
.pagos--efectivo{
    width:130px;
    background-color: rgb(102, 255, 0);
    grid-column-start:4 ;
    grid-column-end:4;
}
.pagos--mas{
    width:140px;
    background-color: rgb(255, 0, 76);
    grid-column-start:5 ;
    grid-column-end:5;
}





