
.tabla__descuento--tabla{
display: flex;
background-color: brown;


  
}
.tabla--martes{
  width: 45%;
 margin-left: 5px;
 margin-right: 5px;
}
.tabla--martes td{
    height: 180px;
}
.tabla--miercole{
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
}
.tabla--jueve{
    width: 45%;
   
}
.contenedor__pagos--tarjetas
{
 display: flex;
 flex-direction: row;
 
}
.contenedor__bancolombia--tarjeta{

}

